
@{
    ViewBag.Title = "Index";
    Layout = "../_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            SEO Title
                        </td>
                        <td>
                            SEO Description
                        </td>
                        <td>
                            SEO Keywords
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @if (Model.HasSEOTitle)
                            {
                                <i class="bi bi-check-square-fill"></i>
                            }
                            else
                            {
                                <i class="bi bi-x-square-fill"></i>
                            }
                        </td>
                        <td>
                            @if (Model.HasSEODescription)
                            {
                                <i class="bi bi-check-square-fill"></i>
                            }
                            else
                            {
                                <i class="bi bi-x-square-fill"></i>
                            }
                        </td>
                        <td>
                            @if (Model.HasSEOKeywords)
                            {
                                <i class="bi bi-check-square-fill"></i>
                            }
                            else
                            {
                                <i class="bi bi-x-square-fill"></i>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="col p-2">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-success" onclick="transistionManager.closeWindow()">Accept</button>
                </div>
            </div>
            <div class="col p-2">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-danger" onclick="transistionManager.closeWindow('rejected')">Reject</button>
                </div>
            </div>
        </div>
    </div>
</main>

